<!DOCTYPE html>
<html>
  <head>
    <title>node-server</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>node-server</h1>
    
    <% if (title) { %>
    <p> Welcome to <%= title %> </p>
	<% } %>

    
    <p> ipAddress:  <%= ipaddress %> </p>
    <p> port:  <%= port %> </p>
    

      
      
  </body>
</html>
